.App {
  text-align: center;
}

.header {
  background-color: rgb(247, 141, 92);
  color: white;
  padding: 20px;
  padding-left: 30px;
  font-size: 25px;
  text-align: left;
}

.trips {
  margin-top: 30px;
}

.table {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  font-size: 15px;
}

.add {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

hr {
  width: 80%;
}

.form {
  margin-top: 25px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  margin: 15px;
  width: 90%;
}

#add-btn {
  margin-top: 15px;
}

.modal-body {
  text-align: left;
}

.modal-body .input {
  width: 90%;
}