.App {
  text-align: center;
}

.trips {
  margin-top: 30px;
}

.table {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  font-size: 15px;
}

.add {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

hr {
  width: 80%;
}

.form {
  margin-top: 25px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  margin: 15px;
  width: 90%;
}

#add-btn {
  margin-top: 15px;
}
