
:root {
  --orange: #f78d5c;
  --background: #f5f5f5;
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0;
  margin-right: 0px;
  padding: 0;
  background-color: white;
}

.header {
  background-color: var(--orange);
  color: white;
  padding: 15px;
  padding-left: 30px;
  font-size: 23px;
  text-align: left;
  width: 100vw;
  margin: 0%;
}

.trips {
  margin-top: 30px;
}

.table {
  text-align: center;
  background-color: var(--background);
  margin-top: 15px;
  font-size: 15px;
  width: 90%;
  margin: auto;
}

tr:nth-child(even) {
  background-color: #dcebfd;
}

.add {
  margin-top: 25px;
  padding-bottom: 75px;
  text-align: center;
}

hr {
  width: 90%;
}

.form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form .input {
  width: 300px;
  margin: 10px;
}

#add-btn {
  margin-top: 15px;
}

.modal-header {
  background-color: var(--orange);
  color: white;
}

.modal-body {
  text-align: left;
}

.modal-body .input {
  width: 90%;
}

p {
  margin-bottom: 3px;
  margin-top: 5px;
}

@media screen and (max-width: 875px) {

  .table {
    width: 90%;
    font-size: 15px;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .edit-delete-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 50%;
    margin: 10px 100%;
    height: 30px;
    width: 35px;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 10px;
  }
  
  tr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header {
    padding-left: 15px;
  }

  .add {
    text-align: center;
  }

  .form {
    font-size: 15px;
    flex-direction: column;
  }
  
  .form .input {
    width: 90%;
    margin: 10px;
    font-size: 15px;
  }

}